@import url("https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex max-w-[1100px] w-[90%];
  }
}
body {
  background-color: black;
}

.splide__pagination__page {
  border-radius: 0;
  width: 70px;
  height: 16px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
}
.splide__pagination__page.is-active {
  transform: none;
}
@media screen and (max-width: 531px) {
  .splide__pagination__page {
    width: 40px;
    height: 16px;
  }
}
